body {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  box-sizing: border-box;
  background-color: #ebe8e8;
}

.wrapper {
  display: grid;
  grid-template-columns: 700px 270px;
  margin-right: 25%;
  margin-left: 23%;
}

/* Kako naruciti caj section */
.kako-naruciti h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.kako-naruciti li {
  margin-top: 15px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.kako-naruciti #narudzba a {
  font-weight: 600;
  text-decoration: none;
  color: #1f1f1f;
}
.kako-naruciti #narudzba a:hover {
  font-weight: 600;
  text-decoration: none;
  color: #5e5e5e;
  font-size: 18.5px;
}

.kako-naruciti #submit a {
  background-color: #42ab26;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.kako-naruciti #submit a:hover {
  background-color: #59ab43;
  color: white;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
}

/* Sta dalje section */

.sta-dalje h4 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.sta-dalje p {
  margin-left: 20px;
  font-size: 17px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* Da li su vase informacije sigurne section */
.info-sigurnost {
  margin-bottom: 130px;
}
.info-sigurnost h4 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.info-sigurnost p {
  margin-left: 20px;
  font-size: 17px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* Kontak section */
.aside {
  background-color: #6cad44;
  height: 130px;
  padding: 10px;
  width: 350px;
  color: white;
}

.aside h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
}

.aside p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/*Footer*/
.footer {
  background: #6cad44;
  padding: 10px 0;
}
.container {
  margin-right: 20%;
  margin-left: 20%;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background: #a17073;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col h3 {
  font-size: 12px;
  color: #fff;

  margin-bottom: 30px;
}
.footer-col h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}
